/*!
 * ABRUPT éditions
 */
@charset "UTF-8";
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-bold-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-bold-webfont.woff') format('woff'); */
/*   font-weight: bold; */
/*   font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-italic-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-italic-webfont.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: italic; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-bolditalic-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-bolditalic-webfont.woff') format('woff'); */
/*   font-weight: bold; */
/*   font-style: italic; */
/* } */
/*  */
@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*  */
/* @font-face { */
/*   font-family: 'Fira Mono'; */
/*   src: */
/*     url('fonts/fira-mono.woff2') format('woff2'), */
/*     url('fonts/fira-mono.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

@font-face {
  font-family: 'Russo One';
  src:
    url('fonts/russo-one.woff2') format('woff2'),
    url('fonts/russo-one.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #fff;
  --color-fg: #000;
  --color-anim: #ffdd00;
  --color-anim-light: #777;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

::-moz-selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

@media (min-width: 90em) {
  body {
    font-size: 2.4rem;
  }
}

body {
  margin: 0 auto;
  font-family: "Crimson Text", serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  font-size: 2rem;
  color: var(--color-fg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  /* max-width: 66ch; */
  padding: 0 1em;
  width: 100%;
  position: relative;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media (min-width: 30em) { /* 480px */
  body {
    padding: 0 3em;
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 3rem;
  }
}

@media (orientation: landscape) and (max-width: 55em) {
  body {
    font-size: 1.2rem;
  }
  .button {
    padding: 0.1em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  width: 100%;
  border: 0;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

figure a {
  margin: 0;
  padding: 0;
  color: unset;
  font-style: normal;
  border-bottom: unset;
  height: 1.62em;
  text-indent: 0;
}

figure a:hover,
figure a:focus,
figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}

h1,
h2,
h3 {
  /* letter-spacing: 0.01rem; */
  margin: 2em 0 0;
  line-height: inherit;
  font-weight: bold;
  font-size: 1em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

a {
  margin: 0;
  padding: 0.2em;
  color: var(--color-fg);
}

a:hover,
a:focus,
a:active {
  color: var(--color-anim);
}

p {
  margin: 0;
}
p + p {
  margin: 0 0 0 0;
}

em {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

ul {
  list-style: none;
  margin: 1.62em 0;
  padding: 0;
}

.centre {
  text-align: center;
}

.droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.noemptyline {
  margin-bottom: 0;
}

.emptyline {
  margin-bottom: 1.6em;
}

.emptylinebefore {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.title {
  /* text-align: center; */
  /* z-index: -1; */
}

.author {
  /* text-align: center; */
}

.publisher {
  /* text-align: center; */
}

.marquetypographique {
  margin: 1.62em auto;
  width: 100%;
  max-width: 300px;
}

/* Modifications spécifiques */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-fg);
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.informations {
  display: none;
}

.informations--show {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-fg);
  padding: 0;
  margin: 0;

  .informations__link {
    border: 1px solid var(--color-anim);
    color: var(--color-fg);
    text-decoration: none;
    background: var(--color-anim);
    /* text-align: center; */
    display: block;
    margin: 0;
    font-size: 0.9em;
  }
  .informations__link:hover,
  .informations__link:focus,
  .informations__link:active {
    outline: none;
    border: 1px solid var(--color-fg);
    color: var(--color-anim);
    text-decoration: none;
    background: var(--color-fg);
  }
}

.contenu {
  background: var(--color-bg);
  width: 90vmin;
  height: 63.7vmin;
  position: relative;
  overflow: hidden;
  padding: 0;
  position: relative;
}

/* .contenu--paysage { */
/*   width: 70vh; */
/*   height: 49.497vh; */
/* } */

.options {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.2em 0;
}

.button {
  font-size: 0.9em;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  padding: 0.2em;
  text-align: center;
  width: 4em;
  height: 100%;
  background: var(--color-anim);
  color: var(--color-fg);

  &--info {
    margin: 0 0.3em;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: var(--color-anim);
    background: var(--color-fg);
  }
}

.contenu__texte {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-fg);
  mix-blend-mode: difference;
  color: var(--color-bg);
  padding: 1em 10%;
  font-size: 1.2em;
  text-transform: uppercase;
}

.contenu__graphique {
  background: var(--color-fg);
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas {
  background: var(--color-fg);
  width: 100%;
  height: 100%;
}

.background {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.hide-scrollbar {
	overflow: -moz-hidden-unscrollable;
	overflow: hidden;
}
